**/*.webm
**/*.png
**/*.html
**/*.exe
**/dist
**/build
**/__pycache__/*
**/*.zip
**/*.json
exeFile/follow_sell_forbid.spec
exeFile/task_center.db
**/*.db
dispatch-backend/task_center.db

dispatch-backend/.env
node_modules/*
DockerFile/*